@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

:root {
  --color-primary: #c23a84;
  --color-secondary: #00e6f4;
  --color-accent: #0047f4;
}

@theme {
  --font-jose-reg: "JoseR";
  --font-jose-bold: "JoseB";

  --color-primary: #c23a84;
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: #00e6f4;
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: #0047f4;
  --color-accent-content: oklch(98% 0.01 160);
}

@font-face {
  font-family: "JoseR";
  src: url("../fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: "JoseB";
  src: url("../fonts/JosefinSans-SemiBold.ttf");
}
button {
  @apply font-light;
}

* {
  scrollbar-width: thin;
  font-family: "JoseR";
}
.grad1 {
  @apply bg-gradient-to-r from-accent to-secondary disabled:from-gray-700 disabled:to-gray-700 hover:opacity-100 scale-100 opacity-85 active:scale-95 duration-300;
}

.input:focus,
.select:focus {
  @apply !border-sky-600 outline-none ring-0;
}

*::-webkit-scrollbar {
  width: 4px;
}
.fadeText {
  @apply after:absolute relative after:h-full after:from-transparent after:bg-gradient-to-r after:-right-1 after:w-9;
}

*::-webkit-scrollbar-thumb {
  @apply bg-slate-500;
  border-radius: 2px;
}
.no-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.fx {
  @apply flex items-center justify-center;
}
/* styles/Timer.module.css */
.timer {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  /* transition: all 0.3s ease; */
  @apply bg-base-300;
}

.timer.active {
  @apply bg-success/15;
}
.click {
  @apply active:opacity-45 opacity-100 duration-200;
}

.timer.low-time {
  @apply bg-error/15;
}
.time-display {
  min-width: 4rem;
  text-align: center;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
